body {
  min-height: 100vh;
  background-image: linear-gradient(75deg, red, #ffc312, #009432, #1b1464);
}
.App {
  font-size: 60px;
}
.img-captura {
  width: 20%;
}
.index-page {
  background-color: black;
  height: 100%;
  width: 10%;
}
