.div-filtros {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31%;
  top: 10%;
  left: 15%;
  height: 8%;
  border-radius: 20px;
  background-color: #fbb03b;
}

.input1 {
  outline: none;
  border: none;
  background-color: transparent;
  position: relative;
  border-bottom: 1px solid #000000;
  margin-bottom: 6px;
  color: black;
  font-weight: bold;
}
.input2 {
  width: 30px;
  color: black;
  justify-content: center;
  text-align: center;
}
.cua {
  background-color: rgb(255, 255, 255, 0.7);
  border: solid #fbb03b;
  border-radius: 5px;
  width: 30%;
  top: 15%;
  line-height: 20px;
  position: absolute;
  box-shadow: 10px 20px 28px #000000;
  margin: 0 0 30px 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.cuadro-1 {
  left: 15%;
  right: 40%;
}
.cuadro-2 {
  right: 15%;
}

.index-page {
  font-family: "Arial Narrow Bold";
  font-size: 20px;
  font-weight: 500;
  color: rgb(0, 0, 0);
}
.textito-cuadrito {
  padding: 10px;
}

.textito {
  padding: 10px;
  margin: 15px;
}
.botonsito {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  border: solid rgb(255, 255, 255, 0.7);
}

.banner {
  background-color: #fbb03b;
  border-radius: 5px 5px 0px 0px;
  display: flex;
  flex-direction: row-reverse;
  height: auto;
}
.banner1 {
  background-color: #fbb03b;
  border-radius: 5px 5px 0px 0px;
  display: flex;
  flex-direction: row;
  height: auto;
}

/*---------------------------------------- aqui inicia estilo para actualizar --------------------------------------*/

.index-page-actualizar {
  font-family: "Arial Narrow Bold";
  font-weight: bold;
  font-size: 25px;
  display: flex;
  justify-content: center;
}
.cuadroactualizar {
  background-color: rgb(255, 255, 255, 0.7);
  border-radius: 5px;
  width: 80%;
  border: solid #fbb03b;
  top: 15%;
  bottom: 15%;
  height: 70%;
  position: fixed;
  box-shadow: 10px 20px 28px #000000;
}

/*----banner----*/
.banner-actualizar {
  background-color: #fbb03b;
  border-radius: 5px 5px 0px 0px;
  display: flex;
  justify-content: space-between;
  height: auto;
  color: white;
}
.input-arete {
  position: relative;
  color: white;
  margin: 18px 0px 0px 15px;
}
.inputarete {
  width: 200px;
  text-align: left;
  font-size: 18px;
  outline: none;
  border: none;
  background-color: transparent;
  position: relative;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 6px;
}
.guia{
  border-bottom: 1px solid #000000;
  color: #000000;
}
.disclaimer{
  font-size: 25px;
  color: white;
  text-align: center;
}
.areteanimal {
  display: inline;
  padding: 5px;
  margin: 0px;
}
.div-botonsitos {
  display: flex;
  border-radius: 0px 0px 0px 0px;
  justify-content: center;
}

.botonsito-actualizar {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin: 15px;
}
/*-------opciones dentro del cuadro actualizar------*/
.input2 {
  outline: none;
  border: none;
  background-color: transparent;
  position: relative;
  border-bottom: 1px solid #000000;
  margin-bottom: 6px;
}
.pesoahora {
  padding: 15px 0 0 0;
  margin: 0 0 0 8px;

  width: 35px;
}
.fechainput {
  width: 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 0px;
}
.fechaaño {
  width: 40px;
}

/*-----------inputs no se de donde------*/
.inputfecha {
  text-align: center;
  width: 25px;
}
.inputaño {
  width: 40px;
}

.inputkg {
  width: 30px;
  text-align: center;
}
.inputprecio {
  width: 55px;
  text-align: center;
}
